<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <% if @test_passage.success? %>
    <p class="win">
      <b><%= t('.test_is_passed') %></b>
      <%= t('.result', result: @test_passage.results) %>

    </p>
  <% else %>
    <p class="fail">
      <b><%= t('.test_is_failed') %></b>
      <%= t('.result', result: @test_passage.results) %>
    </p>
  <% end %>
</p>

<%= link_to t('.back_to_tests'), root_path %>
