<h1 class="text"> <%= t('.header') %></h1>

<table>
<table class="table table-stripped table-dark text-center">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: "text-success" %>
        <%= octicon 'arrow-down', class: "text-success hide" %>
      </th>
      <th><%= t('.test_id') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.number_of_questions') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>  

  <%= render @tests %>
</table>
