<h1 class="text"> <%= t('.header') %></h1>

<table>
<table class="table table-stripped table-dark text-center">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.test_id') %></th>

      <th><%= t('.level') %></th>
      <th><%= t('.number_of_questions') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>  

  <%= render @tests %>
</table>
