<h1><%= t('.header') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.number_of_questions') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>  

  <%= render @tests %>
</table>
